/******************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
	--bg-color: #220022;
	--text-color: #ddd;
	--link-color: #0066CC;
	--link-color-2: #006699;
	--code-color: #333;
	--code-text-color: #bff;
	--first-color: #003300;
	--second-color: #000033;
	--third-color: #008b8b;
	--fourth-color: #8b8b00;
	--hl-color: #cbcb00;
	--hl-color2: #005b5b;
}
a {
	color: var(--link-color);
}

a:visited {
	color: var(--link-color-2);
}

blockquote {
	background: var(--second-color);
	font-style: italic;
	margin: 0;
	padding: 10px 10px;
}

blockquote p {
	margin: 0;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	font-family: "Overpass", sans-serif;
	line-height: 1.5em;
	margin: 20px auto; /* "auto" for centering */
	padding: 0;
	max-width: 960px;
}

code {
	background-color: var(--code-color);
	border-radius: 10px 10px;
	font-family: 'IBM Plex Mono', monospace;
	/* font-size: 12px; */
	padding: 0 5px;
}

img {
	background-color: var(--first-color);
	padding: 4px;
	border-radius: 4px;
}

figure {
	background-color: var(--first-color);
	padding: 4px;
	border-radius: 4px;
}

p {
	text-align: justify;
}

pre {
	background-color: var(--code-color);
	border-radius: 10px 10px;
	display: inline-block;
	text-align: left;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 12px;
	line-height: 1.2em;
	margin: 10px 20px 10px 0;
	min-width: calc(100% - 20px); /* -20px for padding */
	padding: 10px;
	vertical-align: middle;
}

pre code {
	padding: 0 0px;
}

h1 {
	line-height: 40px;
}

/******************************************************************************/
.title {
	background-color: var(--first-color);
	border-radius: 10px 10px;
	padding: 10px 20px;
}

.title h1 {
	line-height: 40px;
	padding: 10px 0;
}

.subtitle {
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

.title p {
	margin-top: -10px;
	padding: 5px 0;
}


/******************************************************************************/
nav {
	background-color: var(--second-color);
	border-radius: 5px 20px 5px 20px;
	border: 3px solid gray;
	font-weight: bold;
	padding: 0 10px;
	position: fixed;
	right: 0;
	top: 0;
	text-align: right;

}

/*
nav:before {
		content: "Table of contents";
}
*/

/* Toggle TOC when hovered. */
nav ul {
	display: none;
}
nav:hover ul {
	display: block;
}

/* Indent sublists. */
nav ul   {
	text-align: left;
	padding: 0;
}
nav ul li ul   {
	padding: 0 0 0 2em;
}

/* Remove list dot. */
nav ul li  {
	display: block;
}

/* Remove deeply nested TOC, mostly for power-apps */
nav ul li ul li ul li ul li  {
	display: none;
}

nav a {
	color: var(--text-color);
	text-decoration: none;
	white-space: nowrap;
}

nav a:hover {
	color: var(--third-color);
}

/* Org uses a <h2> for "Table of Contents". */
nav h2 {
	font-size: 16px;
	margin: 0;
}

/******************************************************************************/
#preamble {
	background-color: var(--first-color);
	border-radius: 5px 20px 5px 20px;
	border: 3px solid gray;
	font-weight: bold;
	padding: 10px;
	/* position: fixed; */
	right: 0;
	top: 0;
	/* text-align: right; */
}

#preamble a {
	color: var(--text-color);
	text-decoration: none;
	white-space: nowrap;
	margin: 0 10px 0 0;
}

#preamble a:hover {
	color: var(--fourth-color);
}

#preamble .banner {
	padding: 0;
	float: inline-end;
	vertical-align: top;
}

#preamble .source {
	padding: 0 10px;
	float: inline-block;
	vertical-align: top;

}
#preamble img {
	margin: 0;
	padding: 0 10px;
	width: 32px;
	height: 32px;
	float: inline-end;
}

footer {
	background-color: var(--first-color);
	border-radius: 10px 10px;
	padding: 5px 0 10px 0;
	text-align: center;
	vertical-align: middle;
}

footer p {
	margin: 0px;
	text-align: center;
}

#postamble {
	background-color: var(--first-color);
	border-radius: 10px 10px;
	padding: 5px 0 10px 0;
	text-align: center;
	vertical-align: middle;
}

#postamble p {
	margin: 0px;
	text-align: center;
}

/******************************************************************************/
.tag {
	background-color: var(--third-color);
	border-radius: 10px 10px;
	font-family: bold;
	font-size: 12px;
	padding: 2px;
}

#content {
	border-radius: 20px;
	margin: 20px 0px;
	padding: 5px 10px 10px 10px;
	text-align: left;
	vertical-align: middle;
}

#content h2 {
	text-align: right;
	border-bottom: 2px dotted #333;
}

#content h3 {
	border-bottom: 2px dashed #666;
}

/* Syntax Highlighting */
.org-src-container pre {
	color: var(--code-text-color);
	border-left: 1px var(--text-color);
	max-width: calc(100% - 20px); /* -20px for padding */
	inline-size:  calc(100% - 20px); /* -20px for padding */
	overflow-x: visible;
	box-shadow: none;
	white-space: pre-wrap;
	box-sizing: border-box;
}

.org-doc {
	color: var(--text-color);
	font-style: italic;
	font-weight: light;
}
.org-comment {
	color: var(--text-color);
	font-style: italic;
	font-weight: light;
}
.org-comment-delimiter {
	color: var(--text-color);
	font-style: italic;
	font-weight: light;
}
.org-string {
	color: var(--text-color);
	font-weight: bold;
}

.org-constant {
	color: var(--third-color);
	font-style: italic;
}
.org-builtin {
	color: var(--hl-color);
}
.org-keyword {
	color: var(--third-color);
	font-style: italic;
}

.org-function-name {
	color: var(--fourth-color);
	font-weight: bold;
}

.org-variable-name {
	color: var(--fourth-color);
	text-decoration: underline;
	font-weight: bold;
}

